.form-group {
  margin: 10px;
}

form button {
  margin: 10px;
}


#attendanceTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

  #attendanceTable td, #attendanceTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #attendanceTable th {
    padding-left: 10px;
    width: 50%;
  }

  #attendanceTable tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  #attendanceTable tr:hover {
    background-color: #ddd;
  }

  #attendanceTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1976d2;
    color: white;
  }
