<div>
  <mat-form-field>
    <mat-label>Product</mat-label>
    <mat-select [(ngModel)]="selectedValue" (ngModelChange)="changeHandler()">
      <mat-option value="">All</mat-option>
      <mat-option value="LV302S">LV302</mat-option>
      <mat-option value="MN319A">MN319A</mat-option>
      <mat-option value="BM1249">BM1249</mat-option>
      <mat-option value="AR3942">AR3942</mat-option>
      <mat-option value="CH5490">CH5490</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- MemberId Column -->
    <ng-container matColumnDef="memberId">
      <th mat-header-cell *matHeaderCellDef>MemberId</th>
      <td mat-cell *matCellDef="let element">{{ element.memberId }}</td>
    </ng-container>

    <!-- Barcode Column -->
    <ng-container matColumnDef="barcode">
      <th mat-header-cell *matHeaderCellDef>Barcode</th>
      <td mat-cell *matCellDef="let element">{{ element.barcode }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
