@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/Styles")
</head>
<body>
    <div>
        <h1>The Angular app should be rendered below.</h1>
        <app-root></app-root>
    </div>
    @Scripts.Render("~/Bundles")
</body>
</html>