<div class="body">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div class="{{loggedIn ? 'hidden' : ''}}">
    <span>Username: <input #username type="text"></span>
    <span>Password: <input #password type="password"></span>
    <input id="LogInBtn" type="submit" (click)="validateLogin(username.value, password.value)" value="Log In">
  </div>
  <div class="{{loggedIn ? '' : 'hidden'}}">
    <span>Logged in as <b>{{currentUser}}</b></span>
    <input id="LogOutBtn" type="submit" (click)="logOut()" value="Log Out">
  </div>

  <span class="error">{{errorMessage}}</span>

  <app-attendance-grid *ngIf="loggedIn" (Timeout)="timedOut()"></app-attendance-grid>
</div>
